@namespace BlazorMasterPage.Components.Components
@inherits ESComponentBase

<div class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <div class="@HeaderClassNames">@Title</div>
</div>


